*.picle filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
train.pkl filter=lfs diff=lfs merge=lfs -text
val.pkl filter=lfs diff=lfs merge=lfs -text
test.pkl filter=lfs diff=lfs merge=lfs -text
rf_val.pickle filter=lfs diff=lfs merge=lfs -text
stack_test.pickle filter=lfs diff=lfs merge=lfs -text
stack_val.pickle filter=lfs diff=lfs merge=lfs -text
xgb_test.pickle filter=lfs diff=lfs merge=lfs -text
xgb_train.pickle filter=lfs diff=lfs merge=lfs -text
xgb_val.pickle filter=lfs diff=lfs merge=lfs -text
lm_val.pickle filter=lfs diff=lfs merge=lfs -text
rf_test.pickle filter=lfs diff=lfs merge=lfs -text
rf_train.pickle filter=lfs diff=lfs merge=lfs -text
stack_train.pickle filter=lfs diff=lfs merge=lfs -text
lm_test.pickle filter=lfs diff=lfs merge=lfs -text
lm_train.pickle filter=lfs diff=lfs merge=lfs -text
rf_submission.csv filter=lfs diff=lfs merge=lfs -text
sample_submission.csv filter=lfs diff=lfs merge=lfs -text
shops.csv filter=lfs diff=lfs merge=lfs -text
xgb_submission.csv filter=lfs diff=lfs merge=lfs -text
item_categories.csv filter=lfs diff=lfs merge=lfs -text
lm_submission.csv filter=lfs diff=lfs merge=lfs -text
sales_train.csv filter=lfs diff=lfs merge=lfs -text
stack_submission.csv filter=lfs diff=lfs merge=lfs -text
test.csv filter=lfs diff=lfs merge=lfs -text
items.csv filter=lfs diff=lfs merge=lfs -text
